[submodule "Artificial Intelligence & Chatbot/cp01-chatbot"]
	path = Artificial Intelligence & Chatbot/cp01-chatbot
	url = https://github.com/matheusmoyaoliveira/cp01-chatbot.git
[submodule "ai-sprint-privado"]
	path = ai-sprint-privado
	url = https://github.com/matheusmoyaoliveira/ai-sprint-privado.git
[submodule "Artificial Intelligence & Chatbot/ai-sprint-privado"]
	path = Artificial Intelligence & Chatbot/ai-sprint-privado
	url = https://github.com/matheusmoyaoliveira/ai-sprint-privado.git
[submodule "Computational Thinking Using Python/python-sprint-privado"]
	path = Computational Thinking Using Python/python-sprint-privado
	url = https://github.com/matheusmoyaoliveira/python-sprint-privado.git
