[submodule "Artificial Intelligence & Chatbot/cp01-chatbot"]
	path = Artificial Intelligence & Chatbot/cp01-chatbot
	url = https://github.com/matheusmoyaoliveira/cp01-chatbot.git
[submodule "ai-sprint-privado"]
	path = ai-sprint-privado
	url = https://github.com/matheusmoyaoliveira/ai-sprint-privado.git
[submodule "Artificial Intelligence & Chatbot/ai-sprint-privado"]
	path = Artificial Intelligence & Chatbot/ai-sprint-privado
	url = https://github.com/matheusmoyaoliveira/ai-sprint-privado.git
[submodule "Computational Thinking Using Python/python-sprint-privado"]
	path = Computational Thinking Using Python/python-sprint-privado
	url = https://github.com/matheusmoyaoliveira/python-sprint-privado
[submodule "Computational Thinking Using Python/cp02-python"]
	path = Computational Thinking Using Python/cp02-python
	url = https://github.com/matheusmoyaoliveira/cp02-python
[submodule "Building Relational Database/cp-01-building-database"]
	path = Building Relational Database/cp-01-building-database
	url = https://github.com/matheusmoyaoliveira/cp-01-building-database
[submodule "Building Relational Database/cp-02-building-database"]
	path = Building Relational Database/cp-02-building-database
	url = https://github.com/matheusmoyaoliveira/cp-02-building-database
[submodule "Domain Driven Design using Java/Cp03Java"]
	path = Domain Driven Design using Java/Cp03Java
	url = https://github.com/matheusmoyaoliveira/Cp03Java.git
[submodule "Domain Driven Design using Java/Cp02Java"]
	path = Domain Driven Design using Java/Cp02Java
	url = https://github.com/matheusmoyaoliveira/Cp02Java.git
[submodule "Artificial Intelligence & Chatbot/gs0iachatbot"]
	path = Artificial Intelligence & Chatbot/gs0iachatbot
	url = https://github.com/matheusmoyaoliveira/gs-iachatbot.git
[submodule "Artificial Intelligence & Chatbot/gs-iachatbot"]
	path = Artificial Intelligence & Chatbot/gs-iachatbot
	url = https://github.com/matheusmoyaoliveira/gs-iachatbot.git
[submodule "Computational Thinking Using Python/gs-python"]
	path = Computational Thinking Using Python/gs-python
	url = https://github.com/matheusmoyaoliveira/gs-python.git
