[submodule "Artificial Intelligence & Chatbot/cp01-chatbot"]
	path = Artificial Intelligence & Chatbot/cp01-chatbot
	url = https://github.com/matheusmoyaoliveira/fiap-projetos-1tdspv/tree/main/Artificial%20Intelligence%20%26%20Chatbot/cp01-chatbot.git
