.nav-container ul {
    flex-direction: row;
    list-style: none;
    gap: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    background-color: black;
}

li, a{
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 8px;
    color: black;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
}

.container-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}